body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input.form-control {
  color:darkblue;
  font-size: 15px;
}

legend {
  font-size: 16px;
}

/* ==================================================== */
/* temporary hack START >> to showcase multiple locations */
.working-cell {
  color: lightslategray;
  background-color: lightblue;
}

.working-cell-0 {
  color: lightslategray;
  background-color: lightblue;
}

.working-cell-1 {
  color: lightslategray;
  background-color: lightcyan;
}

.working-cell-2 {
  color: lightslategray;
  background-color: lightpink;
}

.working-cell-3 {
  color: lightslategray;
  background-color: lightyellow;
}

/* temporary hack END >> to showcase multiple locations */
/* ==================================================== */

.request-off-cell {
  background-color: lightgray;
}

.request-vacay-cell {
  color: darkgreen;
  background-color: lightgreen;
}

.request-work-cell {
  color: darkblue;
  background-color: lightblue;
}

.weekend-start-cell {
  color:darkred;
  /* background-color:lightsteelblue; */
  border-left: 1px solid darkgrey;
}

.weekend-end-cell {
  color:darkred;
  /* background-color: lightsteelblue; */
  border-right: 1px solid darkgrey;
}